*{
    margin: 0;
}

#wrapper {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 20vw;
    grid-template-areas: "main side"
}

#page-header{
    width: 100%;
    height: 90px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
}

.pagetitle {
    color: white;
}


#subcontent {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.posts .post {
    width: 100%;
    height: 80px;
    background: grey;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem 0;
}

#sidebar {
    grid-area: side;
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border: dotted black 2px;
    height: 500px;
}

#sidebar .user {
    height: 100px;
}
#sidebar .user img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.post-info span h3 {
    display: inline;
}

#new-post {
    display: flex;
    flex-direction: column;
}

#new-post input {
    margin: 1rem;
}

#new-post textarea {
    resize: none;
    margin: 1rem;
}

#post-content .post {
    background: grey;
}