@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    padding-top: 90px;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 20vw;
    grid-template-areas: "main side"
}

#page-header{
    position: fixed;
    width: 100%;
    height: 90px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
}

.pagetitle {
    color: white;
}

.sub-list .sub {
    margin: 1rem;
    color: white;
}

#subcontent {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.posts .post {
    width: 100%;
    height: 80px;
    background: grey;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem 0;
}

.post-info {
    display: flex;
    flex-direction: row;
}

.post-info span {
    margin: 0 1rem;
}

.post-info p {
    margin: 0 1rem;
}

.post-info a {
    margin: 0 1rem;
}

#sidebar {
    grid-area: side;
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border: dotted black 2px;
    height: 500px;
}

#sidebar .user {
    height: 100px;
}
#sidebar .user img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.post-info span h3 {
    display: inline;
}

#new-post {
    display: flex;
    flex-direction: column;
}

#new-post input {
    margin: 1rem;
}

.text {
    resize: none;
    margin: 1rem;
}

#post-content .post {
    background: grey;
}

.comment {
    border: dotted 2px grey;
    margin: 1rem;
    box-sizing: border-box;
    padding: 1rem;
}

.vote {
    display: flex;
}

.vote form {
    display: flex;
    flex-direction: column;
}

.vote .votes {
    display: flex;
    flex-direction: column;
}

.voted {
    background: red;
}

.error{
    background:#F2DEDE;
    color:#B94A48;
    border:1px solid #EED3D7;
}

.success{
    background:#DFF0D8;
    color:#468847;
    border:1px solid #D6E9C6;
}

.register form {
    display: flex;
    flex-direction: column;
}

.register form label {
    margin: 1rem;
}

.register form input {
    margin: 0 1rem;
}

.username {
    margin: 1rem;
}

.password {
    margin: 1rem;
}

header .userstuff {
    height: 100%;
    display: flex; 
    align-items: center;
}

header .profile {
    display: flex;
    height: 100%;
    object-fit: contain;
}

header .profile a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

header .profile img {
    height: 80%;
}